html{
    background-color: rgb(32, 30, 30);
}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom:0px;
    width:100vw;
    left:0px;
    background-color:#4ce689;
    text-align: center;
    font-size: larger;
    height:4vw;
    right:0px;
    
}
.mwl{
    text-decoration: none;
}
button{
    border-radius: 50%;
    border:3px solid wheat;
    font-size: xx-large;
    margin:10px 10px;
    background-color: rgb(32, 30, 30);
    padding:10px;

}

strong{
    position:absolute;
    color:beige;
    font-size:40px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:100vw;
    left:0px;
    text-align: center;
}
#choices{
display:flex;
flex-shrink: 0;
flex-direction: column;
align-items: center;
}
.scoreboard{
    width:20%;
    height:10%;
    position: absolute;
    bottom:9vw;
}
html{
    overflow:hidden;
    
}